<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796424204958-4jvil7b7ijuupeuj5s38vldaslbvgo49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796424204958-4jvil7b7ijuupeuj5s38vldaslbvgo49</string>
	<key>API_KEY</key>
	<string>AIzaSyCm959-SAGmUS2-4Uw0N3hZ0Urjg0r1hBc</string>
	<key>GCM_SENDER_ID</key>
	<string>796424204958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PlannerApp</string>
	<key>PROJECT_ID</key>
	<string>plannerapp-dc02c</string>
	<key>STORAGE_BUCKET</key>
	<string>plannerapp-dc02c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796424204958:ios:a0f2223b985694cde6018f</string>
</dict>
</plist>